In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('./houses_to_rent.csv')

In [5]:
#removing the index column 
data.drop(data.columns[0],axis=1, inplace=True)

In [6]:
print(data.shape)
data.head(20)

(6080, 13)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"
5,1,13,1,1,0,2,acept,not furnished,R$0,"R$2,200",R$42,R$28,"R$2,270"
6,1,55,1,1,1,2,acept,furnished,"R$1,950","R$5,000",R$375,R$64,"R$7,389"
7,1,55,2,2,1,2,acept,not furnished,R$600,"R$1,300",R$67,R$17,"R$1,984"
8,1,82,3,1,1,3,acept,furnished,R$828,"R$2,000",R$109,R$26,"R$2,963"
9,1,32,1,1,1,16,acept,not furnished,R$533,"R$2,900",R$0,R$37,"R$3,470"
10,0,60,1,1,0,6,acept,not furnished,R$480,R$720,R$20,R$10,"R$1,230"
11,0,64,1,2,1,4,acept,furnished,R$406,"R$1,550",R$0,R$7,"R$1,963"
12,1,20,1,1,0,4,acept,furnished,R$602,"R$1,800",R$130,R$23,"R$2,555"
13,1,375,4,5,5,1,acept,not furnished,"R$4,793","R$15,000","R$2,805",R$191,"R$22,790"
14,1,92,2,1,1,7,not acept,furnished,R$690,"R$3,950",R$0,R$51,"R$4,691"
15,0,56,2,1,1,1,acept,not furnished,R$345,R$950,R$11,R$13,"R$1,319"
16,0,188,2,3,8,-,acept,not furnished,R$0,"R$3,010",R$584,R$46,"R$3,640"
17,1,100,3,2,1,-,acept,not furnished,R$0,"R$3,500",R$260,R$53,"R$3,813"
18,1,192,3,3,2,13,acept,not furnished,"R$2,100","R$7,800",R$634,R$99,"R$10,630"
19,1,93,3,2,1,10,acept,not furnished,"R$1,497","R$3,500",R$227,R$45,"R$5,269"

In [7]:
data['floor'].replace(to_replace='-', value=0, inplace=True)

In [8]:
data['animal'].replace(to_replace='acept', value=1, inplace=True)
data['animal'].replace(to_replace='not acept', value=0, inplace=True)

In [9]:
data['furniture'].replace(to_replace='furnished', value=1, inplace=True)
data['furniture'].replace(to_replace='not furnished', value=0, inplace=True)

In [10]:
for column in ['hoa', 'rent amount', 'property tax', 'fire insurance', 'total']:
    data[column].replace(to_replace='R\$', value='', regex=True, inplace=True)
    data[column].replace(to_replace=',', value='', regex=True, inplace=True)

In [11]:
data['hoa'].replace(to_replace='Sem info', value=0, inplace=True)

In [12]:
data['hoa'].replace(to_replace='Incluso', value=0, inplace=True)
data['property tax'].replace(to_replace='Incluso', value=0, inplace=True)

In [13]:
data.isin(['Incluso']).any()

city              False
area              False
rooms             False
bathroom          False
parking spaces    False
floor             False
animal            False
furniture         False
hoa               False
rent amount       False
property tax      False
fire insurance    False
total             False
dtype: bool

In [14]:
data.isin(['Incluso'])['hoa'].value_counts(), data.isin(['Incluso'])['property tax'].value_counts()

(False    6080
 Name: hoa, dtype: int64,
 False    6080
 Name: property tax, dtype: int64)

In [15]:
data = data.astype(dtype=np.int64)

In [16]:
data = data.sample(frac=1).reset_index(drop=True)

y = data['city']
X = data.drop(columns='city')

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

X.shape, X_train.shape, X_test.shape

((6080, 12), (4073, 12), (2007, 12))

In [18]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

column_names = X.columns

X_train = pd.DataFrame(scaler.fit_transform(X_train), columns=column_names)
X_test = pd.DataFrame(scaler.transform(X_test), columns=column_names)

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import ExtraTreesClassifier

from sklearn.neural_network import MLPClassifier

svc = SVC(kernel='sigmoid', gamma=1.0)
knc = KNeighborsClassifier(n_neighbors=49)
mnb = MultinomialNB(alpha=0.2)
dtc = DecisionTreeClassifier(min_samples_split=7, random_state=111)
lrc = LogisticRegression(solver='liblinear', penalty='l1')
rfc = RandomForestClassifier(n_estimators=31, random_state=111)
abc = AdaBoostClassifier(n_estimators=62, random_state=111)
bc = BaggingClassifier(n_estimators=9, random_state=111)
etc = ExtraTreesClassifier(n_estimators=9, random_state=111)

log_model = LogisticRegression(penalty='l2', verbose=1)
svm_model = SVC(kernel='rbf', verbose=1)
nn_model = MLPClassifier(hidden_layer_sizes=(16,16), activation='relu', solver='adam', verbose=1)

C:\Users\juanm\AppData\Local\Programs\Python\Python37\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\juanm\AppData\Local\Programs\Python\Python37\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [20]:
svc.fit(X_train, y_train)
knc.fit(X_train, y_train)
mnb.fit(X_train, y_train)
dtc.fit(X_train, y_train)
lrc.fit(X_train, y_train)
rfc.fit(X_train, y_train)
abc.fit(X_train, y_train)
bc.fit(X_train, y_train)
etc.fit(X_train, y_train)

log_model.fit(X_train, y_train)
svm_model.fit(X_train, y_train)
#nn_model.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

[LibSVM]

SVC(verbose=1)

In [21]:
print('svc', svc.score(X_test, y_test))
print('knc', knc.score(X_test, y_test))
print('mnb', mnb.score(X_test, y_test))
print('dtc', dtc.score(X_test, y_test))
print('lrc', lrc.score(X_test, y_test))
print('abc', abc.score(X_test, y_test))
print('bc', bc.score(X_test, y_test))
print('etc', etc.score(X_test, y_test))

print('log_model', log_model.score(X_test, y_test))
print('svm_model', svm_model.score(X_test, y_test))

svc 0.8066766317887394
knc 0.8759342301943199
mnb 0.8609865470852018
dtc 0.8684603886397608
lrc 0.861484803188839
abc 0.9048330842052815
bc 0.9068261086198306
etc 0.9028400597907325
log_model 0.8609865470852018
svm_model 0.8609865470852018

In [22]:
from sklearn.metrics import f1_score

print('svc', f1_score(svc.predict(X_test), y_test))
print('knc', f1_score(knc.predict(X_test), y_test))
print('mnb', f1_score(mnb.predict(X_test), y_test))
print('dtc', f1_score(dtc.predict(X_test), y_test))
print('lrc', f1_score(lrc.predict(X_test), y_test))
print('abc', f1_score(abc.predict(X_test), y_test))
print('bc', f1_score(bc.predict(X_test), y_test))
print('etc', f1_score(etc.predict(X_test), y_test))

print('log_model', f1_score(log_model.predict(X_test), y_test))
print('svm_model', f1_score(svm_model.predict(X_test), y_test))

svc 0.8897727272727274
knc 0.9323920716806952
mnb 0.9253012048192771
dtc 0.9230769230769231
lrc 0.9255490091055167
abc 0.9467818333797716
bc 0.9471900593052811
etc 0.945240101095198
log_model 0.9253012048192771
svm_model 0.9253012048192771

In [61]:
from sklearn.model_selection import GridSearchCV

search_space = {
      "base_estimator": [None,'ExtraTreesClassifier'],
      "n_estimators":[10, 25, 50],
      "bootstrap":[True, False],
      "bootstrap_features": [True, False],
      "random_state":[111]
      }

In [62]:
grid = GridSearchCV(estimator=BaggingClassifier(), 
                    param_grid=search_space,
                    cv=3,
                    scoring='f1_macro',  # Accuracy
                    return_train_score=True,
                    n_jobs=-1,  # AUC == ROC
                    verbose=10)

In [63]:
best_model = grid.fit(X_train,y_train)

Fitting 3 folds for each of 24 candidates, totalling 72 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1925s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    0.6s
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    1.5s
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    2.0s
[Parallel(n_jobs=-1)]: Done  57 out of  72 | elapsed:    2.1s remaining:    0.5s
[Parallel(n_jobs=-1)]: Done  72 out of  72 | elapsed:    3.8s finished

In [64]:
print(best_model.best_params_)

{'base_estimator': None, 'bootstrap': True, 'bootstrap_features': False, 'n_estimators': 25, 'random_state': 111}

In [66]:
bc = BaggingClassifier(n_estimators=25, random_state=111)

bc.fit(X_train, y_train)

print('etc', f1_score(bc.predict(X_test), y_test))

etc 0.9524345623416831

In [65]:
etc = ExtraTreesClassifier(class_weight={0: 2, 1: 1}, criterion='entropy', max_features='auto', min_samples_split=5, n_estimators=25, random_state=111)

etc.fit(X_train, y_train)


print('etc', f1_score(etc.predict(X_test), y_test))

etc 0.9505061867266591